{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <header>
        <h3>Welcome to our amigurumi shelter</h3>
    </header>

    <section class="page">
        <div class="full-width">
            <p>Cupcake ipsum dolor sit. Amet dessert powder cake pastry pie gummi bears oat cake caramels.
                Tiramisu pastry icing jelly beans. Apple pie biscuit halvah sugar plum. Brownie cheesecake
                gummies gummi bears fruitcake powder.
                Dessert lollipop danish I love cotton candy gummies drag&eacute;e icing. Caramels marshmallow jujubes I
                love. Carrot cake halvah I love chocolate cake marshmallow jelly beans macaroon. Cupcake pie
                sugar plum. Fruitcake croissant chocolate.</p></div>
        <hr/>
        <div class="gallery-adopt">
            <h2>&hearts; Adopt a doll</h2>
            <div class="gal-row">
                <div class="small-img-cont">
                    <a class="product-link" href="/bunny/">
                        <img src="/images/about/Bunny5.jpg" alt="Bunny">
                        <span>&hearts; The Teacup Sailor Bunny Girl</span></a>
                    <p class="price-small">$45.00</p>
                </div>

                <div class="small-img-cont">
                    <a class="product-link" href="/cherry/">
                        <img src="/images/about/Cherry5.jpg" alt="Cherry">
                        <span>&hearts; Cherry ~ The fruit orchard elf</span></a>
                    <p class="price-small">$50.00</p>
                </div>
                <div class="small-img-cont">
                    <a class="product-link" href="/malvina/">
                        <img src="/images/about/Malvina5.jpg" alt="Malvina">
                        <span>&hearts; Malvina ~ The Blue-Haired Fairy</span></a>
                    <p class="price-small">$45.00</p>
                </div>
            </div>

            <div class="gal-row">
                <div class="small-img-cont">
                    <a class="product-link" href="/ballerina/">
                        <img src="/images/about/Ballerina2.jpg" alt="Ballerina">
                        <span>&hearts; Ballerina ~ Sad Spring Melody</span></a>
                    <p class="price-small">$45.00</p>
                </div>

                 <div class="small-img-cont">
                    <a class="product-link" href="/ronnie/">
                        <img src="/images/about/Ronnie5.jpg" alt="Ronnie">
                        <span>&hearts; Ronnie ~ Winter Fairy Tale</span></a>
                    <p class="price-small">$50.00</p>
                </div>

                <div class="small-img-cont">
                    <a class="product-link" href="/amigurumi/">
                        <img src="/images/about/WinterDolls5.jpg" alt="Winter Amis">
                        <span>&hearts; Choose a Custom Made Ami</span></a>
                    <p class="price-small">$35.00</p>
                </div>

            </div>
        </div>

        <hr />
          <div class="gallery-adopt">
            <h2>&hearts; Tiny ami creatures</h2>
            <div class="gal-row">

                 <div class="small-img-cont">
                    <a class="product-link" href="/snail/">
                        <img src="/images/about/snail-about.png" alt="Tiny snail">
                        <span>&hearts; Tiny Ami Snail</span></a>
                    <p class="price-small">$15.00</p>
                </div>

                <div class="small-img-cont">
                    <a class="product-link" href="/sheep/">
                        <img src="/images/about/sheep-about.png" alt="Tiny sheep">
                        <span>&hearts; Tiny Ami Sheep</span></a>
                    <p class="price-small">$20.00</p>
                </div>
                <div class="small-img-cont">
                    <a class="product-link" href="/fox/">
                        <img src="/images/about/fox-about.png" alt="Tiny fox">
                        <span>&hearts; Tiny Ami Fox</span></a>
                    <p class="price-small">$20.00</p>
                </div>
            </div>

            <div class="gal-row">
                <div class="small-img-cont">
                    <a class="product-link" href="/dog/">
                        <img src="/images/about/dog-about.png" alt="Tiny dog">
                        <span>&hearts; Tiny Ami Dog</span></a>
                    <p class="price-small">$20.00</p>
                </div>

                <div class="small-img-cont">
                    <a class="product-link" href="/rabbit/">
                        <img src="/images/about/bunny-about.jpg" alt="Tiny rabbit">
                        <span>&hearts; Tiny Ami Rabbit</span></a>
                    <p class="price-small">$20.00</p>
                </div>

                <div class="small-img-cont">
                    <a class="product-link" href="#">
                        <img src="/images/about/panda.jpg" alt="Tiny panda">
                        <span>&hearts; Tiny Panda Ball</span></a>
                    <p class="price-small">$15.00</p>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
