{% extends "base.html" %}

{% block title %}Amigurumi{% endblock %}

{% block content %}
    <header>
        <h3>WInter Amis Made to Order</h3>
    </header>

    <section class="page container">
        <div class="gallery">
            <div>
                <img id="gallery-current" src="/kind-monster/images/winter-amis/winter1.jpg" alt="Winter Amis">
            </div>
            <div class="small-gal">
                <div class="small-img-cont">
                    <img src="/kind-monster/images/winter-amis/winter1.jpg" alt="Winter Amis"></div>
                <div class="small-img-cont">
                    <img src="/kind-monster/images/winter-amis/winter5.jpg" alt="Winter Amis"></div>
                <div class="small-img-cont">
                    <img src="/kind-monster/images/winter-amis/winter6.jpg" alt="Winter Amis"></div>
                <div class="small-img-cont">
                    <img src="/kind-monster/images/winter-amis/winter3.jpg" alt="Winter Amis"></div>
            </div>
        </div>
        <div class="text"><h4>&hearts; Choose a Custom Made Ami</h4>
            <p>Lemon drops ice cream I love halvah I love chupa chups candy chocolate lemon drops. Cotton candy
                ice cream topping lollipop lemon drops sweet roll chupa chups. Candy canes dessert chocolate bar
                candy jujubes cake gummies pudding I love. Danish jelly I love chocolate bar chocolate cake
                pudding caramels I love. Sweet roll pie chupa chups pie macaroon. Sugar plum pie fruitcake.</p>
            <p class="price">$35.00</p>
            <a href="#">no tax, free shipping</a>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i><em>Ships within 1-3 days</em></p>
            <button class="buy-btn">Add to Cart</button>
        </div>
    </section>
{% endblock %}
