{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <header>
        <h2>&hearts; Love at first bite</h2>
    </header>

    <img src="images/home/icecream.jpg" alt="crocheted icecream">
    <p>Welcome to the land of hand-crocheted dolls, creatures and scrumptious desserts!</p>
    <hr/>
    <section class="carousel container">
        <div class="image-container"><h2>Ami Dolls</h2>
            <img src="images/home/malvina.jpg" alt="Malvina"></div>
        <div class="image-container"><h2>Ami Creatures</h2>
            <img src="images/home/panda.jpg" alt="Panda work in progress">
        </div>
        <div class="image-container"><h2>Ami Desserts</h2>
            <img src="images/home/icecream_close.jpg" alt="Icecream closeup">
        </div>
    </section>
{% endblock %}
