{% extends "base.html" %}

{% block title %}Sheep{% endblock %}

{% block content %}
    <header>

    </header>

    <section class="page container">
        <div class="gallery">
            <img id="gallery-current" src="../images/gallery/sheep-gallery1.png" alt="Tiny sheep">
            <!--<div class="small-gal">-->
            <!--<div class="small-img-cont">-->
            <!--<img src="../images/gallery/Cherry1.png" alt="Cherry"></div>-->
            <!--<div class="small-img-cont">-->
            <!--<img src="../images/gallery/Cherry2.png" alt="Cherry"></div>-->
            <!--<div class="small-img-cont">-->
            <!--<img src="../images/gallery/Cherry4.png" alt="Cherry"></div>-->
            <!--<div class="small-img-cont">-->
            <!--<img src="../images/gallery/Cherry3.png" alt="Cherry"></div>-->
            <!--</div>-->
        </div>
        <div class="text"><h4>&hearts; Tiny ami sheep</h4>
            <h5>I &hearts; fluffy things</h5>
            <p class="dolls">Candy canes marzipan jelly-o cookie donut tiramisu carrot cake apple pie jelly
                beans. Apple pie lemon drops fruitcake topping. Powder croissant lemon drops danish drag&eacute;e
                macaroon.
                Brownie cheesecake gummies gummi bears fruitcake powder. Caramels macaroon oat cake I love
                toffee jelly. Cheesecake I love carrot cake chocolate cake brownie cotton candy I love. Cotton
                candy drag&eacute;e biscuit I love lemon drops croissant.</p>
            <p class="price">$20.00</p>
            <a href="#">no tax, free shipping</a>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> <em>Ships within 1-3 days</em></p>
            <button class="buy-btn">Add to Cart</button>
        </div>
    </section>
{% endblock %}