{% extends "base.html" %}

{% block title %}Yana{% endblock %}

{% block content %}
    <header>
    </header>

    <section class="page container">
        <div class="gallery">
            <img id="gallery-current" src="../images/gallery/Yana1.png" alt="Yana">
            <div class="small-gal">
                <div class="small-img-cont">
                    <img src="../images/gallery/Yana1.png" alt="Yana"></div>
                <div class="small-img-cont">
                    <img src="../images/gallery/Yana3.png" alt="Yana"></div>
                <div class="small-img-cont">
                    <img src="../images/gallery/Yana4.jpg" alt="Yana"></div>
                <div class="small-img-cont">
                    <img src="../images/gallery/Yana2.png" alt="Yana"></div>
            </div>
        </div>
        <div class="text"><h4>&hearts; Yana</h4>
            <h5>I &hearts; cotton candy</h5>
            <p class="dolls">Huggable and soft, Yana was inspired by the old-time rag dolls and is very
                suitable for youngsters, especially for cuddling at night.<br>
                You can do all kinds of hairstyles with her long hair!</p>
            <p class="dolls">With or withour eyebrows, with a painted or a stitched nose, smiling or serious -
                you choose her facial features.</p>
            <p class="price">$35.00</p>
            <a href="#">no tax, free shipping</a>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> <em>Ships within 1-3 days</em></p>
            <button class="buy-btn">Add to Cart</button>
        </div>
    </section>
 {% endblock %}